# Model weights
*.pt
*.pth
*.onnx
cad_prompted_sam3_assets/

# Selection history file
.history

# Cache files
*.pyc
__pycache__

# Common environment names
venv/
.venv/
env/
.env/

# Catch-all for local ignorables
ignore/
saved_images/


*.log
finetune_exemplar/
/finetune_exemplar_*/
/eval_abc_*/
mask_outputs/
outputs_eval_exemplar/
outputs_finetune_exemplar/
*.png
*.jpg
dataset_debug
dataset_filter.csv
*.csv
assets/
.vscode/
